In [65]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [66]:
import pandas as pd
import numpy as np
import os
from datanooblol.configuration.config_manager import LoadFeatureConfig, LoadRepoConfig
from datanooblol.extractor.data_extractor import DataExtractor
from datanooblol.data_quality.health_check import HealthCheck

In [101]:
hc = HealthCheck()
dxtr = DataExtractor(end_date="2022-04-01", start_date="2022-04-01")

# target

In [102]:
target_df = dxtr.extract_landing(feature_grp="target")
target_df.head()

   house_id event_timestamp  MEDV     load_dt
0         1      2022-04-01  24.0  2022-04-01
1         2      2022-04-01  21.6  2022-04-01
2         3      2022-04-01  34.7  2022-04-01
3         4      2022-04-01  33.4  2022-04-01
4         5      2022-04-01  36.2  2022-04-01

In [105]:
hc.summary(target_df)

|                 | dtype          |   cnt_missing |   ratio_missing |   n_unique |   ratio_unique | least               | most                |
|:----------------|:---------------|--------------:|----------------:|-----------:|---------------:|:--------------------|:--------------------|
| house_id        | int64          |             0 |               0 |        506 |         100    | 1.0                 | 506.0               |
| event_timestamp | datetime64[ns] |             0 |               0 |          1 |           0.2  | 2022-04-01 00:00:00 | 2022-04-01 00:00:00 |
| MEDV            | float64        |             0 |               0 |        229 |          45.26 | 5.0                 | 50.0                |
| load_dt         | category       |             0 |               0 |          1 |           0.2  | 2022-04-01          | 2022-04-01          |


row: 506, col: 4

# proportion

In [75]:
proportion_df = dxtr.extract_landing(feature_grp="proportion")
proportion_df.head()

,house_id,event_timestamp,ZN,INDUS,RM,PTRATIO,B,LSTAT,load_dt
0,1,2022-04-01,18.0,2.31,6.575,15.3,396.90,4.98,2022-04-01
1,2,2022-04-01,0.0,7.07,6.421,17.8,396.90,9.14,2022-04-01
2,3,2022-04-01,0.0,7.07,7.185,17.8,392.83,4.03,2022-04-01
3,4,2022-04-01,0.0,2.18,6.998,18.7,394.63,2.94,2022-04-01
4,5,2022-04-01,0.0,2.18,7.147,18.7,396.90,5.33,2022-04-01

In [76]:
hc.summary(proportion_df)

|                 | dtype          |   cnt_missing |   ratio_missing |   n_unique |   ratio_unique | least               | most                |
|:----------------|:---------------|--------------:|----------------:|-----------:|---------------:|:--------------------|:--------------------|
| house_id        | int64          |             0 |               0 |        506 |          40    | 1.0                 | 506.0               |
| event_timestamp | datetime64[ns] |             0 |               0 |          4 |           0.32 | 2022-04-01 00:00:00 | 2022-07-01 00:00:00 |
| ZN              | float64        |             0 |               0 |         26 |           2.06 | 0.0                 | 100.0               |
| INDUS           | float64        |             0 |               0 |         76 |           6.01 | 0.46                | 27.74               |
| RM              | float64        |             0 |               0 |        446 |          35.26 | 3.561               | 8.78                |
| PTRATIO         | float64        |             0 |               0 |         46 |           3.64 | 12.6                | 22.0                |
| B               | float64        |             0 |               0 |        357 |          28.22 | 0.32                | 396.9               |
| LSTAT           | float64        |             0 |               0 |        455 |          35.97 | 1.73                | 37.97               |
| load_dt         | category       |             0 |               0 |          4 |           0.32 | 2022-07-01          | 2022-04-01          |


row: 1265, col: 9

# geography

In [77]:
geography_df = dxtr.extract_landing(feature_grp="geography")
geography_df.head()

   house_id event_timestamp  CHAS     DIS  RAD     load_dt
0         1      2022-04-01     0  4.0900    1  2022-04-01
1         2      2022-04-01     0  4.9671    2  2022-04-01
2         3      2022-04-01     0  4.9671    2  2022-04-01
3         4      2022-04-01     0  6.0622    3  2022-04-01
4         5      2022-04-01     0  6.0622    3  2022-04-01

In [78]:
hc.summary(geography_df)

|                 | dtype          |   cnt_missing |   ratio_missing |   n_unique |   ratio_unique | least               | most                |
|:----------------|:---------------|--------------:|----------------:|-----------:|---------------:|:--------------------|:--------------------|
| house_id        | int64          |             0 |               0 |        506 |          40    | 1.0                 | 506.0               |
| event_timestamp | datetime64[ns] |             0 |               0 |          4 |           0.32 | 2022-04-01 00:00:00 | 2022-07-01 00:00:00 |
| CHAS            | int64          |             0 |               0 |          2 |           0.16 | 0                   | 1                   |
| DIS             | float64        |             0 |               0 |        412 |          32.57 | 1.1296              | 12.1265             |
| RAD             | int64          |             0 |               0 |          9 |           0.71 | 1                   | 24                  |
| load_dt         | category       |             0 |               0 |          4 |           0.32 | 2022-07-01          | 2022-04-01          |


row: 1265, col: 6

# toxic

In [79]:
toxic_df = dxtr.extract_landing(feature_grp="toxic")
toxic_df.head()

   house_id event_timestamp    NOX     load_dt
0         1      2022-04-01  0.538  2022-04-01
1         2      2022-04-01  0.469  2022-04-01
2         3      2022-04-01  0.469  2022-04-01
3         4      2022-04-01  0.458  2022-04-01
4         5      2022-04-01  0.458  2022-04-01

In [80]:
hc.summary(toxic_df)

|                 | dtype          |   cnt_missing |   ratio_missing |   n_unique |   ratio_unique | least               | most                |
|:----------------|:---------------|--------------:|----------------:|-----------:|---------------:|:--------------------|:--------------------|
| house_id        | int64          |             0 |               0 |        506 |          40    | 1.0                 | 506.0               |
| event_timestamp | datetime64[ns] |             0 |               0 |          4 |           0.32 | 2022-04-01 00:00:00 | 2022-07-01 00:00:00 |
| NOX             | float64        |             0 |               0 |         81 |           6.4  | 0.385               | 0.871               |
| load_dt         | category       |             0 |               0 |          4 |           0.32 | 2022-07-01          | 2022-04-01          |


row: 1265, col: 4

# monetary

In [81]:
monetary_df = dxtr.extract_landing(feature_grp="monetary")
monetary_df.head()

   house_id event_timestamp    TAX     load_dt
0         1      2022-04-01  296.0  2022-04-01
1         2      2022-04-01  242.0  2022-04-01
2         3      2022-04-01  242.0  2022-04-01
3         4      2022-04-01  222.0  2022-04-01
4         5      2022-04-01  222.0  2022-04-01

In [82]:
hc.summary(monetary_df)

|                 | dtype          |   cnt_missing |   ratio_missing |   n_unique |   ratio_unique | least               | most                |
|:----------------|:---------------|--------------:|----------------:|-----------:|---------------:|:--------------------|:--------------------|
| house_id        | int64          |             0 |               0 |        506 |          40    | 1.0                 | 506.0               |
| event_timestamp | datetime64[ns] |             0 |               0 |          4 |           0.32 | 2022-04-01 00:00:00 | 2022-07-01 00:00:00 |
| TAX             | float64        |             0 |               0 |         66 |           5.22 | 187.0               | 711.0               |
| load_dt         | category       |             0 |               0 |          4 |           0.32 | 2022-07-01          | 2022-04-01          |


row: 1265, col: 4

# Plan  

Since the purpose of this project is to demonstrate how the whole pipeline works,  
I would use a pass-through method in stages including clean, aggregate, and join