In [1]:
%load_ext autoreload
%autoreload 2

In [1]:
from datanooblol.feature_store.feature_manager import FeatureStoreRegister

fs_register = FeatureStoreRegister()
fs_register.register
fs_register.create_dataset
fs_register.materialize
fs_register.materialize_incremental

/opt/conda/lib/python3.9/site-packages/feast/feature_store.py:1115: RuntimeWarning: Saving dataset is an experimental feature. This API is unstable and it could and most probably will be changed in the future. We do not guarantee that future changes will maintain backward compatibility.
  warnings.warn(

Materializing 5 feature views from 2020-08-17 20:05:47+00:00 to 2022-07-18 20:05:47+00:00 into the sqlite online store.

geography:

100%|██████████████████████████████████████████████████████████| 506/506 [00:00<00:00, 10226.81it/s]

monetary:

100%|██████████████████████████████████████████████████████████| 506/506 [00:00<00:00, 16767.67it/s]

proportion:

100%|███████████████████████████████████████████████████████████| 506/506 [00:00<00:00, 6780.22it/s]

target:

100%|██████████████████████████████████████████████████████████| 506/506 [00:00<00:00, 10013.63it/s]

toxic:

100%|██████████████████████████████████████████████████████████| 506/506 [00:00<00:00, 17366.16it/s]

Materializing 5 feature views to 2022-07-18 20:05:48+00:00 into the sqlite online store.

geography from 2022-07-18 20:05:47+00:00 to 2022-07-18 20:05:48+00:00:

0it [00:00, ?it/s]

monetary from 2022-07-18 20:05:47+00:00 to 2022-07-18 20:05:48+00:00:

0it [00:00, ?it/s]

proportion from 2022-07-18 20:05:47+00:00 to 2022-07-18 20:05:48+00:00:

0it [00:00, ?it/s]

target from 2022-07-18 20:05:47+00:00 to 2022-07-18 20:05:48+00:00:

0it [00:00, ?it/s]

toxic from 2022-07-18 20:05:47+00:00 to 2022-07-18 20:05:48+00:00:

0it [00:00, ?it/s]

In [2]:
entity_list_dict = [{"house_id":2},{"house_id":345},{"house_id":354}]
fs_register.get_online_features(entity_list_dict=entity_list_dict)

,house_id,RAD,DIS,CHAS,TAX,ZN,RM,PTRATIO,B,LSTAT,INDUS,NOX
0,2,2,4.9671,0,242.0,0.0,6.421,17.8,396.90,9.14,7.07,0.469
1,345,5,6.4654,0,370.0,55.0,6.874,17.6,387.97,4.61,3.78,0.484
2,354,5,12.1265,0,187.0,90.0,6.728,17.0,384.46,4.50,2.02,0.410

In [3]:
import pandas as pd
test_df = pd.read_parquet("../repository/metadata/reference/mlops_regression_dataset.parquet")

test_df.loc[test_df["house_id"].isin([2,345,354])]

,house_id,event_timestamp,MEDV,load_dt,CHAS,DIS,RAD,TAX,B,INDUS,LSTAT,PTRATIO,RM,ZN,NOX
1509,2,2022-04-01 00:00:00+00:00,21.6,2022-04-01,0,4.9671,2,242.0,396.90,7.07,9.14,17.8,6.421,0.0,0.469
123,345,2022-04-01 00:00:00+00:00,31.2,2022-04-01,0,6.4654,5,370.0,387.97,3.78,4.61,17.6,6.874,55.0,0.484
120,354,2022-04-01 00:00:00+00:00,30.1,2022-04-01,0,12.1265,5,187.0,384.46,2.02,4.50,17.0,6.728,90.0,0.410