In [6]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [7]:
from datanooblol.serving.serving_manager import Serving
from datanooblol.extractor.reference_extractor import ReferenceExtractor

# Initialize
- ReferenceExtractor class for serving use case

In [8]:
data = ReferenceExtractor(DEBUG=False)
# X = loaded_exp.transform(data.X_test)
X = data.X_test
y = data.y_test

# Initialize  
- Serving class for serving use case

In [12]:
run_id = "1500de2128ac4208889e029fb096f255"
project = "boston_regression"
serving = Serving(project=project, run_id=run_id)
prediction = serving.predict(X)
prediction_inv = serving.predict(X, inverse_y=True)

In [18]:
prediction[:5]

array([-0.13982345, -0.06713594, -0.33107962, -0.71820128, -0.12359975])

In [17]:
prediction_inv[:5]

array([21.88780779, 22.6417753 , 19.90396027, 15.88845389, 22.05609179])

In [16]:
y.head(5)

      MEDV
327   19.3
804   23.2
225   21.9
1131  23.2
585   22.2